<div class="featured-content">
  <div class="container-1000 content">
    <div class="strapline strapline--small strapline--blue">EXPLORE</div>
    <div class="featured-content__items">
      <%= render "content/home/featured_content/why_sign_up_for_a_tta" %>
      <%= render "content/home/featured_content/swapping_senior_management_for_students" %>
      <%= render "content/home/featured_content/apply_for_teacher_training" %>
    </div>
  </div>
</div>