<div class="featured-content__items container-1000">
  <%= render "content/home/featured_content/apply_for_teacher_training" %>
  <%= render "content/home/featured_content/why_sign_up_for_a_tta" %>
  <%= render "content/home/featured_content/swapping_senior_management_for_students" %>
</div>
