<section class="container">
  <article class="markdown overhang fullwidth">
    <h2>Explore</h2>
    <div class="featured-content">
      <div class="featured-content__items">
        <%= render "content/home/featured_content/why_sign_up_for_a_tta" %>
        <%= render "content/home/featured_content/swapping_senior_management_for_students" %>
        <%= render "content/home/featured_content/apply_for_teacher_training" %>
      </div>
    </div>
  </article>
</section>
