<div class="home-find-event">
    <div class="container-1000 content">
      <div class="home-find-event__inner">
        <div class="strapline strapline--small strapline--blue">EVENTS</div>

        <div class="home-inset-content">
          <h1>Speak to a teacher at one of our online events.</h1>

          <div>
            <p>Come to a free teaching event and find out how you can train to become a teacher.</p>
            <a class="call-to-action-button" href="/events">Find <span>Events</span></a>
          </div>
        </div>
      </div>
      <div class="home-find-event__img"></div>
    </div>
</div>
