<div class="colored-stripe colored-stripe--with-title colored-stripe--grey">
  <section class="container">
    <article class="markdown overhang">
      <h2 class="colored-stripe__title">Events</h2>
      <div class="colored-stripe__content">
        <h1>Speak to a teacher at one of our online events.</h1>

        <div>
          <p>Come to a free teaching event and find out how you can train to become a teacher.</p>
          <a class="call-to-action-button" href="/events">Find <span>Events</span></a>
        </div>
      </div>
    </article>
  </section>
  <div class="home-find-event-img"></div>
</div>
