<div class="container-1000">
    <div class="featured-content__item-wide">
        <div class="featured-content__item-wide__image" style="background-image: url('assets/images/map.png')">
            <div class="icon-pin-large"></div>
        </div>
        <div class="featured-content__item-wide__right">
            <h2 class="strapline strapline--overlap">Find an event near you</h2>
            <div class="featured-content__item-wide__content">
                <p>Come to a free teaching event and find out how you can train to become a teacher.</p>
                <a class="call-to-action-button" href="/events">Find <span>Events</span></a>
            </div>
        </div>
    </div>
</div>
