<div class="colored-stripe colored-stripe--yellow">
  <div class="home-quote-img" style="background-image: url('assets/images/home-quote.jpg')"></div>
  <section class="container">
    <article class="markdown overhang fullwidth">
      <div class="colored-stripe__content">
        <div class="home-quote__text">
          <blockquote class="home-quote__quote">The best part of teaching for me is seeing that lightbulb moment when a child suddenly understands something they didn’t before.</blockquote>
         <span class="home-quote__citation">Simon, teacher</span>
        </div>
      </div>
    </article>
  </section>
</div>
