<div class="home-quote">
    <div class="container-1000">
        <div class="home-quote__text">
            <blockquote class="home-quote__quote">The best part of teaching for me is seeing that lightbulb moment when a child suddenly understands something they didn’t before.</blockquote>
            <span class="home-quote__citation">Simon, teacher</span>
        </div>
    </div>
    <div class="home-quote__img" style="background-image: url('assets/images/home-quote.jpg')"></div>
</div>
