<section class="container">
  <article class="markdown overhang fullwidth">
    <div class="cta-links">
      <%= render "content/home/life_as_a_teacher/teaching_as_a_career" %>
      <%= render "content/home/life_as_a_teacher/salaries_and_benefits" %>
    </div>
  </article>
</section>
