<div class="steps-home">
    <div class="container-1000">
        <div class="steps-home__inner">
            <h2 class="strapline">Discover the steps to become a teacher</h2>
            <div class="steps__wrapper">
                <div class="steps__step">
                        <div class="steps__number"><span>1</span></div>
                        <a href="/steps-to-become-a-teacher" class="steps__link">
                            <span>Check your</span>
                            <span><span>qualifications</span></span>
                        </a>
                    </div>
                    <div class="steps__step">
                        <div class="steps__number"><span>2</span></div>
                        <a href="/steps-to-become-a-teacher#step-3" class="steps__link">
                            <span>Consider</span>
                            <span>school <span>experience</span></span>
                        </a>
                    </div>
                    <div class="steps__step">
                        <div class="steps__number"><span>3</span></div>
                        <a href="/steps-to-become-a-teacher#step-4" class="steps__link">
                            <span>Decide</span>
                            <span>how to <span>train</span></span>
                        </a>
                    </div>
                    <div class="steps__step">
                        <div class="steps__number"><span>4</span></div>
                        <a href="/steps-to-become-a-teacher#step-5" class="steps__link">
                            <span>Application</span>
                            <span><span>process</span></span>
                        </a>
                    </div>
            </div>
        </div>
    </div>
</div>
