<section class="container">
  <article class="markdown overhang fullwidth">
    <h2>Steps</h2>

    <div class="home-inset-content">
      <h1>Discover the steps to become a teacher.</h1>

      <div class="steps__wrapper">
        <div class="steps__step">
            <div class="steps__number"><span>1</span></div>
            <a href="/steps-to-become-a-teacher#step-1" class="steps__link">
                <span>Check your qualifications</span>
            </a>
        </div>
        <div class="steps__step">
            <div class="steps__number"><span>2</span></div>
            <a href="/steps-to-become-a-teacher#step-2" class="steps__link">
                <span>Find out about teaching and training</span>
            </a>
        </div>
        <div class="steps__step">
            <div class="steps__number"><span>3</span></div>
            <a href="/steps-to-become-a-teacher#step-3" class="steps__link">
                <span>Consider school experience</span>
            </a>
        </div>
        <div class="steps__step">
            <div class="steps__number"><span>4</span></div>
            <a href="/steps-to-become-a-teacher#step-4" class="steps__link">
                <span>Ways to train</span>
            </a>
        </div>
        <div class="steps__step">
            <div class="steps__number"><span>5</span></div>
            <a href="/steps-to-become-a-teacher#step-5" class="steps__link">
                <span>Find and apply for teacher training</span>
            </a>
        </div>
      </div>
    </div>
  </article>
</section>
