<html lang="en" class=" show-global-bar show-global-bar show-global-bar"><!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style type="text/css" id="alertifyCSS">.alertify-logs>*{padding:12px 24px;color:#fff;box-shadow:0 2px 5px 0 rgba(0,0,0,.2);border-radius:1px}.alertify-logs>*,.alertify-logs>.default{background:rgba(0,0,0,.8)}.alertify-logs>.error{background:rgba(244,67,54,.8)}.alertify-logs>.success{background:rgba(76,175,80,.9)}.alertify{position:fixed;background-color:rgba(0,0,0,.3);left:0;right:0;top:0;bottom:0;width:100%;height:100%;z-index:2}.alertify.hide{opacity:0;pointer-events:none}.alertify,.alertify.show{box-sizing:border-box;transition:all .33s cubic-bezier(.25,.8,.25,1)}.alertify,.alertify *{box-sizing:border-box}.alertify .dialog{padding:12px}.alertify .alert,.alertify .dialog{width:100%;margin:0 auto;position:relative;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}.alertify .alert>*,.alertify .dialog>*{width:400px;max-width:95%;margin:0 auto;text-align:center;padding:12px;background:#fff;box-shadow:0 2px 4px -1px rgba(0,0,0,.14),0 4px 5px 0 rgba(0,0,0,.098),0 1px 10px 0 rgba(0,0,0,.084)}.alertify .alert .msg,.alertify .dialog .msg{padding:12px;margin-bottom:12px;margin:0;text-align:left}.alertify .alert input:not(.form-control),.alertify .dialog input:not(.form-control){margin-bottom:15px;width:100%;font-size:100%;padding:12px}.alertify .alert input:not(.form-control):focus,.alertify .dialog input:not(.form-control):focus{outline-offset:-2px}.alertify .alert nav,.alertify .dialog nav{text-align:right}.alertify .alert nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button),.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button){background:transparent;box-sizing:border-box;color:rgba(0,0,0,.87);position:relative;outline:0;border:0;display:inline-block;-webkit-align-items:center;-ms-flex-align:center;-ms-grid-row-align:center;align-items:center;padding:0 6px;margin:6px 8px;line-height:36px;min-height:36px;white-space:nowrap;min-width:88px;text-align:center;text-transform:uppercase;font-size:14px;text-decoration:none;cursor:pointer;border:1px solid transparent;border-radius:2px}.alertify .alert nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):active,.alertify .alert nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):hover,.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):active,.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):hover{background-color:rgba(0,0,0,.05)}.alertify .alert nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):focus,.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):focus{border:1px solid rgba(0,0,0,.1)}.alertify .alert nav button.btn,.alertify .dialog nav button.btn{margin:6px 4px}.alertify-logs{position:fixed;z-index:1}.alertify-logs.bottom,.alertify-logs:not(.top){bottom:16px}.alertify-logs.left,.alertify-logs:not(.right){left:16px}.alertify-logs.left>*,.alertify-logs:not(.right)>*{float:left;-webkit-transform:translateZ(0);transform:translateZ(0);height:auto}.alertify-logs.left>.show,.alertify-logs:not(.right)>.show{left:0}.alertify-logs.left>*,.alertify-logs.left>.hide,.alertify-logs:not(.right)>*,.alertify-logs:not(.right)>.hide{left:-110%}.alertify-logs.right{right:16px}.alertify-logs.right>*{float:right;-webkit-transform:translateZ(0);transform:translateZ(0)}.alertify-logs.right>.show{right:0;opacity:1}.alertify-logs.right>*,.alertify-logs.right>.hide{right:-110%;opacity:0}.alertify-logs.top{top:0}.alertify-logs>*{box-sizing:border-box;transition:all .4s cubic-bezier(.25,.8,.25,1);position:relative;clear:both;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:1000;perspective:1000;max-height:0;margin:0;padding:0;overflow:hidden;opacity:0;pointer-events:none}.alertify-logs>.show{margin-top:12px;opacity:1;max-height:1000px;padding:12px;pointer-events:auto}</style>
  <meta property="og:description" content="Ways to train to become a teacher">
  <meta property="og:title" content="Ways to train to become a teacher">
  <meta property="og:url" content="https://beta-getintoteaching.education.gov.uk/ways-to-train-guidance">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="GOV.UK">
  <meta name="twitter:card" content="summary">
  <meta name="description" content="Ways to train to become a teacher">
  <meta name="govuk:taxon-slugs" content="become-a-teacher-in-england">
  <meta name="govuk:taxon-slug" content="become-a-teacher-in-england">
  <meta name="govuk:taxon-ids" content="2682bef9-0963-43e3-8610-30b31ec1c4d0,56b78356-c7bf-4460-8775-d04b590ec7ca">
  <meta name="govuk:taxon-id" content="2682bef9-0963-43e3-8610-30b31ec1c4d0">
  <meta name="govuk:themes" content="education">
  <meta name="govuk:analytics:organisations" content="&lt;EO1216&gt;">
  <meta name="govuk:content-has-history" content="true">
  <meta name="govuk:content-id" content="e4e2c852-7c5d-43c0-bebf-f5787d12cd89">
  <meta name="govuk:schema-name" content="detailed_guide">
  <meta name="govuk:publishing-application" content="whitehall">
  <meta name="govuk:format" content="detailed_guide">
  <meta name="csrf-token" content="7nEyrE02wOQwmk/XuMW8Pt/EXRHvKUviRNfu/w94kT83HpAxE4Vvw9Gd+A6aNoguHx10WmcFKBmN5HAwwo+Lng==">
  <meta name="csrf-param" content="authenticity_token">
  <script>
    <%- if ENV["HOTJAR_ID"].present? -%>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:<%= ENV["HOTJAR_ID"] %>,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    <%- end -%>

    <%- if ENV["GOOGLE_TAG_MANAGER_ID"].present? -%>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','<%= ENV["GOOGLE_TAG_MANAGER_ID"] %>');
    <%- end -%>
  </script>
  <title lang="en">
      Ways to train to become a teacher
  </title>
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" media="screen" href="https://www.gov.uk/assets/static/govuk-template-ec01c15a0e8793975bcaf519e4eb3ec0d68a99610c6b262fa7a1b3c7f76f6176.css">
  <!--<![endif]-->
  <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://www.gov.uk/assets/static/govuk-template-ie8-d542fa9c0b1884e3f91f37f9ae1574f44a5a83d506d645292555c2b5572498e9.css" /><![endif]-->
  <link rel="stylesheet" media="print" href="https://www.gov.uk/assets/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css">
  <link rel="stylesheet" media="all" href="https://www.gov.uk/assets/static/fonts-c57ab80a95f2b1764162611b3c98a4c098b356f8e30baf1e50cd63edea464c01.css"> 
  <!--[if lt IE 9]><script src="https://www.gov.uk/assets/static/ie-a4524544a53d57a7e259b4bb966b9c32557c98c920b77e52d09304642b68401a.js"></script><![endif]-->
  <link rel="shortcut icon" href="https://www.gov.uk/assets/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
  <link rel="mask-icon" href="https://www.gov.uk/assets/static/gov.uk_logotype_crown-de738c3fcce8ce2a91b67e89787090dc24a5cda0275ab6b75f6226c5b9619d3d.svg" color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="https://www.gov.uk/assets/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
  <link rel="apple-touch-icon" sizes="167x167" href="https://www.gov.uk/assets/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://www.gov.uk/assets/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
  <link rel="apple-touch-icon" href="https://www.gov.uk/assets/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">
  <meta name="theme-color" content="#0b0c0c">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" media="screen" href="https://www.gov.uk/assets/static/core-layout-9cb3fbb510e7fdfc3852b0e6b017557267dad3c1c27b714d75104324dc28ebbe.css">
  <!--[if lte IE 8]><link rel="stylesheet" media="screen" href="https://www.gov.uk/assets/static/core-layout-ie8-773f4cacc5b2d19e924e37800dca2a1e66acd94c661e1cd95a8a165021bdc667.css" /><script>var ieVersion = 8;</script><![endif]-->
  <link rel="stylesheet" media="print" href="https://www.gov.uk/assets/static/core-layout-print-8e40ee8bf8b49850b34ea341226ca4421597a64ffda587b0f72111677fd368bd.css">
  <style>
    .app-back-to-top__icon {
      display: inline-block;
      width: .8em;
      height: 1em;
      margin-top: -5px;
      margin-right: 10px;
      vertical-align: middle;
  }
  </style>
  <meta property="og:image" content="https://www.gov.uk/assets/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">
  <link rel="stylesheet" media="screen" href="https://www.gov.uk/assets/government-frontend/application-a9e9ca7583296f69d7826edbb0a55c79d5aab10ac83d94ff748db38655b9cbe8.css">
  <link rel="stylesheet" media="print" href="https://www.gov.uk/assets/government-frontend/print-0d530d98c978539f18ef97c5644385ea4d38780dbc8679da5a8a1603a218044c.css">
  <link rel="canonical" href="https://www.gov.uk/guidance/employing-an-apprentice-technical-guide-for-employers">
  <meta name="govuk:rendering-application" content="government-frontend">
</head>

<body>
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <div id="skiplink-container">
    <div>
      <a href="#content" class="skiplink govuk-link">Skip to main content</a>
    </div>
  </div>

  <header role="banner" id="global-header" class=" with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" class="content govuk-header__link govuk-header__link--homepage" id="logo" data-module="track-click" data-track-category="homeLinkClicked" data-track-action="homeHeader">
              <span class="govuk-header__logotype">
                <svg role="presentation" focusable="false" class="govuk-header__logotype-crown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 132 97" height="30" width="36">
                  <path fill="currentColor" fill-rule="evenodd" d="M25 30.2c3.5 1.5 7.7-.2 9.1-3.7 1.5-3.6-.2-7.8-3.9-9.2-3.6-1.4-7.6.3-9.1 3.9-1.4 3.5.3 7.5 3.9 9zM9 39.5c3.6 1.5 7.8-.2 9.2-3.7 1.5-3.6-.2-7.8-3.9-9.1-3.6-1.5-7.6.2-9.1 3.8-1.4 3.5.3 7.5 3.8 9zM4.4 57.2c3.5 1.5 7.7-.2 9.1-3.8 1.5-3.6-.2-7.7-3.9-9.1-3.5-1.5-7.6.3-9.1 3.8-1.4 3.5.3 7.6 3.9 9.1zm38.3-21.4c3.5 1.5 7.7-.2 9.1-3.8 1.5-3.6-.2-7.7-3.9-9.1-3.6-1.5-7.6.3-9.1 3.8-1.3 3.6.4 7.7 3.9 9.1zm64.4-5.6c-3.6 1.5-7.8-.2-9.1-3.7-1.5-3.6.2-7.8 3.8-9.2 3.6-1.4 7.7.3 9.2 3.9 1.3 3.5-.4 7.5-3.9 9zm15.9 9.3c-3.6 1.5-7.7-.2-9.1-3.7-1.5-3.6.2-7.8 3.7-9.1 3.6-1.5 7.7.2 9.2 3.8 1.5 3.5-.3 7.5-3.8 9zm4.7 17.7c-3.6 1.5-7.8-.2-9.2-3.8-1.5-3.6.2-7.7 3.9-9.1 3.6-1.5 7.7.3 9.2 3.8 1.3 3.5-.4 7.6-3.9 9.1zM89.3 35.8c-3.6 1.5-7.8-.2-9.2-3.8-1.4-3.6.2-7.7 3.9-9.1 3.6-1.5 7.7.3 9.2 3.8 1.4 3.6-.3 7.7-3.9 9.1zM69.7 17.7l8.9 4.7V9.3l-8.9 2.8c-.2-.3-.5-.6-.9-.9L72.4 0H59.6l3.5 11.2c-.3.3-.6.5-.9.9l-8.8-2.8v13.1l8.8-4.7c.3.3.6.7.9.9l-5 15.4v.1c-.2.8-.4 1.6-.4 2.4 0 4.1 3.1 7.5 7 8.1h.2c.3 0 .7.1 1 .1.4 0 .7 0 1-.1h.2c4-.6 7.1-4.1 7.1-8.1 0-.8-.1-1.7-.4-2.4V34l-5.1-15.4c.4-.2.7-.6 1-.9zM66 92.8c16.9 0 32.8 1.1 47.1 3.2 4-16.9 8.9-26.7 14-33.5l-9.6-3.4c1 4.9 1.1 7.2 0 10.2-1.5-1.4-3-4.3-4.2-8.7L108.6 76c2.8-2 5-3.2 7.5-3.3-4.4 9.4-10 11.9-13.6 11.2-4.3-.8-6.3-4.6-5.6-7.9 1-4.7 5.7-5.9 8-.5 4.3-8.7-3-11.4-7.6-8.8 7.1-7.2 7.9-13.5 2.1-21.1-8 6.1-8.1 12.3-4.5 20.8-4.7-5.4-12.1-2.5-9.5 6.2 3.4-5.2 7.9-2 7.2 3.1-.6 4.3-6.4 7.8-13.5 7.2-10.3-.9-10.9-8-11.2-13.8 2.5-.5 7.1 1.8 11 7.3L80.2 60c-4.1 4.4-8 5.3-12.3 5.4 1.4-4.4 8-11.6 8-11.6H55.5s6.4 7.2 7.9 11.6c-4.2-.1-8-1-12.3-5.4l1.4 16.4c3.9-5.5 8.5-7.7 10.9-7.3-.3 5.8-.9 12.8-11.1 13.8-7.2.6-12.9-2.9-13.5-7.2-.7-5 3.8-8.3 7.1-3.1 2.7-8.7-4.6-11.6-9.4-6.2 3.7-8.5 3.6-14.7-4.6-20.8-5.8 7.6-5 13.9 2.2 21.1-4.7-2.6-11.9.1-7.7 8.8 2.3-5.5 7.1-4.2 8.1.5.7 3.3-1.3 7.1-5.7 7.9-3.5.7-9-1.8-13.5-11.2 2.5.1 4.7 1.3 7.5 3.3l-4.7-15.4c-1.2 4.4-2.7 7.2-4.3 8.7-1.1-3-.9-5.3 0-10.2l-9.5 3.4c5 6.9 9.9 16.7 14 33.5 14.8-2.1 30.8-3.2 47.7-3.2z">
                  </path>
                  <image src="https://www.gov.uk/assets/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" xlink:href="" class="govuk-header__logotype-crown-fallback-image" width="36" height="32">
                  </image>
                </svg>
                <span class="govuk-header__logotype-text">
                  GOV.UK
                </span>
              </span>
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>
  <form id="search" class="site-search govuk-clearfix" action="https://www.gov.uk/search" method="get" role="search">
    <div class="content govuk-clearfix">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>

   </div>
        
   <div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
  <nav id="proposition-menu" class="no-proposition-name gem-c-government-navigation" aria-label="Proposition menu"></nav>>
  <ul id="proposition-links">
    <li>
      <a class="" href="https://www.gov.uk/government/organisations">
        Departments
      </a>
    </li>
    <li>
      <a class="" href="https://www.gov.uk/government/world">
        Worldwide
      </a>
    </li>
    <li>
      <a class="" href="https://www.gov.uk/government/how-government-works">
        How government works
      </a>
    </li>
    <li>
      <a class="" href="https://www.gov.uk/government/get-involved">
        Get involved
      </a>
    </li>
    <li class="clear-child">
      <a class="" href="https://www.gov.uk/search/policy-papers-and-consultations?content_store_document_type%5B%5D=open_consultations&amp;amp;content_store_document_type%5B%5D=closed_consultations">
        Consultations
      </a>
    </li>
    <li>
      <a class="" href="https://www.gov.uk/search/research-and-statistics">
        Statistics
      </a>
    </li>
    <li>
      <a class="" href="https://www.gov.uk/news-and-communications">
        News and communications
      </a>
    </li>
  </ul>
</nav>
</div>
</div>
</div>
    </header>

  <div id="user-satisfaction-survey-container"></div>


  <div id="global-header-bar"></div>

      
  <!--[if gt IE 7]><!-->
  <div id="global-bar" class="global-bar dont-print" data-module="global-bar" data-global-bar-permanent="true" data-nosnippet="">
    <div class="global-bar-message govuk-width-container">


   <div class="global-bar-covid-wrapper">
            <div class="gem-c-action-link gem-c-action-link--light-text gem-c-action-link--with-subtext govuk-!-margin-bottom-0">

  <span class="gem-c-action-link__contents-wrapper">      <span class="gem-c-action-link__link-wrapper">

  <a class="govuk-link gem-c-action-link__link js-call-to-action" href="https://www.gov.uk/coronavirus">
                      Coronavirus (COVID-19)
          

</a>      </span>

   <span class="gem-c-action-link__subtext-wrapper">
            <span class="gem-c-action-link__subtext">Guidance and support</span>
        </span>
</span>
  </div>

   </div>
    </div>

  </div>
  <!--<![endif]-->


  <div id="wrapper" class="direction-ltr">

        
<div class="gem-c-contextual-breadcrumbs">
    


<div class="gem-c-breadcrumbs govuk-breadcrumbs gem-c-breadcrumbs--collapse-on-mobile" data-module="track-click">
  <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item" aria-current="false">
          <a class="govuk-breadcrumbs__link" aria-current="false" href="https://www.gov.uk/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="false">
          <a class="govuk-breadcrumbs__link" aria-current="false" href="https://www.gov.uk/browse/education">Education and learning</a>
        </li>
  </ol>
</div>


  
</div>


  <main role="main" id="content" class="detailed-guide" lang="en">
      
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
    <span class="govuk-caption-xl gem-c-title__context">
      Guidance
    </span>
  <h1 class="gem-c-title__text gem-c-title__text--long" id="top">Ways to train to become a teacher</h1>
</div>
  </div>

</div>

<div class="govuk-grid-row">
  <div class="metadata-logo-wrapper">
    <div class="govuk-grid-column-two-thirds metadata-column">
        <div class="app-c-publisher-metadata" lang="en">
    <div class="app-c-published-dates " lang="en">
    Published 23 June 2020
</div>

  <div class="app-c-publisher-metadata__other">
        <dl data-module="track-click">
            <dt class="app-c-publisher-metadata__term">
              From:
            </dt>
            <dd class="app-c-publisher-metadata__definition" data-module="gem-toggle">
                <span class="app-c-publisher-metadata__definition-sentence">
                  <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education">Department for Education</a>
                </span>
            </dd>
        </dl>
      </div>
  </div>

  </div>
    <div class="govuk-grid-column-one-third">
    </div>
  </div>
</div>





<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <div class="app-c-important-metadata app-c-important-metadata--bottom-margin">
    <dl data-module="track-click">
      <dt class="app-c-important-metadata__term">Applies to: </dt>
      <dd class="app-c-important-metadata__definition">England</dd>
    </dl>
  </div>


    <div id="contents" class="app-c-contents-list-with-body" data-module="sticky-element-container">
      <div class="responsive-bottom-margin">
        <nav class="gem-c-contents-list  gem-c-contents-list--no-underline " role="navigation" data-module="track-click" aria-label="Contents">
          <h2 class="gem-c-contents-list__title">Contents</h2>
          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="#introduction">Introduction</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="#what-youll-need-to-work-as-a-teacher">What you’ll need to work as a teacher</a>
		    </li>
		  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="#gaining-qts">Gaining Qualified Teacher Status</a>
            </li>
		   
		  
		<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="#training-providers">Types of teacher training provider</a>
            </li>
		   <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="#salaried">Salaried teacher training courses</a>
            </li>
		
		<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="#things-to-consider">Things to consider before you apply</a>
            </li>
		
		   <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="#teaching-children-with-special-educational-needs-and-or-disabilities-SEND">Teaching children with special educational needs and disabilities (SEND)</a>
            </li>
		     <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="#training-to-teach-if-you-have-a-disability">Training to teach if you have a disability</a>
		</li>
		   <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="#high-potential">High potential candidates, career changers and researchers</a>
            </li>
           
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link " href="#get-a-job-in-teaching">Get a job in teaching</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link " href="#contact-and-support">Contact and support</a>
            </li>
          </ol>
        </nav>
      </div>
    
      
      <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
        <div class="govspeak">
          <h2 id="introduction">Introduction</h2>
          



<h2 id="what-youll-need-to-work-as-a-teacher">
	What you’ll need to work as a teacher
</h2>
<p>
	To work as a qualified teacher in state schools in England, you’ll need
	Qualified Teacher Status (QTS).
</p>
		
<p>
	QTS allows you to teach as a qualified teacher in state-maintained schools and non-maintained special schools in England. It may also allow you to teach in other parts of the UK. 
</p>
<p>
	There is information available about teaching in <a href="https://www.education-ni.gov.uk/articles/initial-teacher-education-courses-northern-ireland">Northern Ireland</a>, <a href="https://teachinscotland.scot/">Scotland</a> and <a href="https://www.discoverteaching.wales/routes-into-teaching/">Wales</a>.
</p>

<p>
	Undergraduate teacher training leading to QTS can take up to 4 years.
</p>
<p>
	Graduate teacher training leading to QTS typically takes one year of full-time study. Some providers offer part-time study, which typically take 2 years.
</p>
<p>
	Once you’ve gained your QTS, you can apply for jobs as a
	newly-qualified teacher (NQT).
</p>
<p>
	NQTs do a further 'induction programme' in school as a paid and qualified teacher, which allows them to build on their initial teacher training.
</p>
		
	<h3 id="assessment-only-candidates-already-working-in-school">
	Assessment only (candidates already working in school)
	</h3>
<p>
	If you’re an unqualified teacher with 2 years’ experience, you can be assessed over a maximum of 12 weeks to gain Qualified Teacher Status (QTS).
</p>
<p>
	Although you may not need to take a formal teacher training course, you must
	meet the eligibility requirements for teacher training - which includes a degree, and GCSEs (or a standard equivalent) in English, maths, and science for primary school teaching.
</p>
		
<h2 id="gaining-qts">
	Gaining Qualified Teacher Status
</h2>
		<h3>PGCE with QTS</h3>
<p>
	A PGCE (postgraduate certificate in education) with QTS gives you an academic qualification as well as QTS.  Many PGCE courses include credits that count towards a Master’s degree.
</p>
<P>
	A PGCE may allow you to teach in some other countries. If you’re planning to teach overseas, you should always check what’s needed in the country you’d like to teach in.
</P>
		<h3>PGDE with QTS</h3>
<p>
	Some providers offer a PGDE (postgraduate diploma in education) with QTS. In some cases these courses offer more credits towards
	a Master’s degree than PGCE courses.
</p>

<H4>
	Further education (PGCE or PGDE without QTS)
</H4>
<p>
	To teach further education you do not need QTS. Instead you can study for a PGCE
	or PGDE without QTS. These courses are also eligible for candidates without a
	degree.
</p>
		
		
		
<h3 id="find-postgraduate-teacher-training">
	Find postgraduate teacher training
</h3>
	<p>
	All primary and secondary teacher training courses on <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses">Find postgraduate teacher training courses</a> lead to QTS.
        </p>	
		
<p>
	Use <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses">Find
	postgraduate teacher training courses</a> to search and compare
	government-approved teacher training providers in your area.
</p>

<p>
	You can also search for ‘further education’ courses leading to a post-compulsory
	education and training qualification (PCET). You do not need a degree to apply
	for courses leading to a PCET.
</p>
		
<h2 id="salaried">
	Salaried teacher training courses
</h2>

<p>
	Under some circumstances, you can train as a teacher ‘on the job’. On these courses, you will:
</p>
<ul>
	<li>earn a salary
	<li>pay no student fees for training towards QTS</li>
</ul>

<p>
	There are 3 options available:
</p>
<ul>
	<li>School Direct (salaried)</li>
	<li>Postgraduate teaching apprenticeships</li>
	<li>High Potential Initial Teacher Training Programme</li>
</ul>
	<p>On these courses you’ll be paid and taxed as an unqualified teacher. The salary awarded will differ between schools – you should check the salary with the school before you apply.
</p>
<p>
	These courses do not offer bursaries, scholarships or student
	finance. There are usually no course fees to pay.
</p>
<p>
	Both School Direct (salaried) and postgraduate apprenticeship courses will lead to QTS.  If you choose to do a postgraduate teaching apprenticeship, you’ll also have to sit an ‘end point assessment’ (EPA). 
</p>
<p>
	Select ‘only salaried courses’ in <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses">Find postgraduate teacher training</a> to find local courses.
</p>
		
<h2 id="training-providers">
	Types of teacher training provider
</h2>
<p>
	You can do your teacher training on a course run by a university, an individual
	school, or a partnership of schools (sometimes called a SCITT, standing for
	‘school-centred initial teacher training’).
</p>
<p>
	Although the type of institution (school or university) running the course will
	differ, the content of the course will meet national guidelines on teacher
	training.
</p>
<p>
	The primary and secondary teacher training courses listed on <a
		href="https://www.gov.uk/find-postgraduate-teacher-training-courses">Find
	postgraduate teacher training</a> all lead to QTS or PGCE/PGDE plus QTS.
</p>
<p>
	The majority of postgraduate teacher training courses are made up of:
</p>
<ul>
	<li>academic study of the theory of teaching (also known as ‘pedagogy’)
	<li>hands-on experience in the classroom</li>
</ul>
<p>
	The course typically lasts a year (3 school terms) and training will usually take place:
</p>
<ul>
	<li>at your training provider's main site
	<li>in school placements organised by your provider</li>
</ul>
<p>
	Details of course structure and location will vary between training providers –
	you can research specific courses on <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses" target="_blank" rel="noopener noreferrer">Find postgraduate teacher training</a>.
</p>
<p>
	When you’re researching training providers, bear in mind:
</p>
<ul>
	<li>location – you will need to be able to travel to your academic learning
		location as well as your placement schools
	<li>reputation – check Ofsted’s report on your training provider for more detail
	<li>competition for entry – some providers are tougher than others
	<li>special academic requirements for entry – check the training provider
		listing in <a
			href="https://www.gov.uk/find-postgraduate-teacher-training-courses">Find
		postgraduate teacher training</a> to see what class of degree, for example, the
		provider asks for
	<li>size of institution – would you be happier in a large university campus, or
		in a smaller local school setting?
	</li>
</ul>
<p>
	You can use<a
		href="https://www.gov.uk/find-postgraduate-teacher-training-courses"> Find
	postgraduate teacher training</a> to find and compare a shortlist of training
	providers located near to you.
</p>
		
		
<h2 id="things-to-consider">
	Things to consider before you apply
</h2>
		
		
<h3 id="choose-an-age-group">
	Choose an age group
</h3>
<p>
	You can train to teach:
</p>
<ul>
	<li>under-fives (also known as ‘early years’)</li>
	<li>primary school children</li>
	<li>primary school with a specialism (for example, English, modern languages or
		science)</li>
	<li>secondary school age children (you’ll need to specialise in a subject)</li>
	<li>further education (14 to adult)</li>
</ul>
<p>
	Use <a
		href="https://www.find-postgraduate-teacher-training.service.gov.uk/start/subject?l=2">Find postgraduate teacher training</a> to see the full list of options.
</p>
<p>
	Or you could arrange to spend time in school to <a href="https://schoolexperience.education.gov.uk/">get experience of different age groups.</a>
</p>
<h3 id="teaching-under-fives">
	Teaching under-fives
</h3>
<p>
	If you choose to teach under-fives, you’ll need to apply for a specialist
	teacher training course called Early Years Initial Teacher Training (EYITT).
</p>
<p>
	At the end of the course, you’ll gain Early Years Teacher Status and will be
	qualified to teach under-fives only.
</p>
<div role="note" aria-label="Information" class="application-notice info-notice">
  <p>Please note these courses do not lead to Qualified Teacher Status (QTS).</p>
</div>
<p>
	<a
		href="https://www.gov.uk/government/publications/early-years-initial-teacher-training-itt-providers-and-school-direct-early-years-lead-organisations/early-years-initial-teacher-training-itt-providers-and-school-direct-lead-organisations">Browse a list of training providers offering Early Years Teacher Training</a>
</p>
<p>
	EYITT courses are eligible for bursaries, scholarships and student finance. Some are also salaried.
</p>
<p>
	Undergraduate courses:
</p>
<ul>
	<li>take 3 to 4 years of full-time study and lead to a degree in an early</li>
		childhood-related subject
	<li>have tuition fee loans available from <a
		href="https://www.gov.uk/student-finance">Student Finance England (SFE)</a>.</li>
</ul>
<p>
	Graduate entry courses:
</p>
<ul>
	<li>typically take one year of full-time study</li>
	<li>provide a £7,000 grant to cover course fees</li>
	<li>offer bursaries for graduates up to £5,000 for a first class degree</li>
</ul>
<p>
	Graduate employment-based courses:
</p>
<ul>
	<li>are one year part-time courses for graduates working in early years settings
		who need further training to demonstrate the Teachers’ Standards (Early Years)</li>
	<li> offer funding of £14,000 to cover up to £7,000 fees and £7,000 contribution
		to employer costs</li>
</ul>
<p id="assessment-only">
	Assessment Only is:
</p>
<ul>
	<li>self-funded</li>
	<li>maximum of 3 months duration</li>
	<li>ideal for graduates with experience of working with children from birth age
		to 5, who meet the Teachers’ Standards (Early Years) and have no need for further training
	</li>
</ul>

<h3 id="choose-a-subject">
	Choose a subject
</h3>
<p>
	<a
		href="https://www.find-postgraduate-teacher-training.service.gov.uk/start/subject?l=2">View
	a list of secondary school teaching subjects</a>
</p>
<p>
	When you apply for teacher training, you’ll be asked to give detailed evidence
	for the knowledge and interest you bring to the subject(s) you’d like to teach.
</p>
<p>
	Evidence can include:
</p>
<ul>
	<li>the subject of your undergraduate degree</li>
	<li>modules you studied as part of your degree</li>
	<li>postgraduate degrees (for example, a Masters or PhD)</li>
	<li>your A level subjects</li>
	<li>expertise you’ve gained at work</li>
</ul>
<h3 id="subject-knowledge-enhancement-courses">Subject knowledge enhancement (SKE) courses</h3>
		
		<p>SKE courses are intended to help you enhance your knowledge so that you're able to teach a subject.</p>
		<p>Your training provider will identify if you need to take one as part of their selection process, usually at interview.</p> 
	      <p>They will ask you to complete an SKE course as a condition of taking up your offer of a teacher training place if they feel you need to enhance your subject knowledge.</p>
		
		<p>SKE courses are usually available if:</p>
		<ul>
			<li>your degree isn't in your chosen subject</li>
			<li>you studied the subject at A level but not degree level </li> 
			<li>you have an unrelated degree, but relevant professional experience in the subject</li>
		</ul>
		
		<p>SKE courses can also be helpful if it’s been a while since you studied for your degree.</p>
		
<div role="note" aria-label="Information" class="application-notice info-notice">
  <p>Please note that SKE courses for candidates starting Initial Teacher Training (ITT) in 2021/22 will not be available at the start of the recruitment cycle from 1 October 2020.</p>
  <p>We will confirm the approach to SKEs following completion of the government's Spending Review.</p>
  <p>ITT providers will be able to offer a teacher training place under the condition of completing an SKE course, but you won't be able to start one until funding and eligibility are confirmed after the Spending Review has been completed.</p>
  <p>You should note that a conditional offer does not guarantee a funded SKE course will be available in your chosen subject.</p>		
</div>



<p>
	You won't have to pay for your SKE course and you may be eligible for a bursary.
</p>
<p>
	Your training provider will decide the course duration (between 8 and 28 weeks). This will depend on the knowledge you need. 
</p>
<p>
	SKE courses can be completed before or, in some cases, alongside your teacher training. They are available to study full-time or part-time, classroom-based or online. 
</p>
<p>
	SKE courses are usually available in:
</p>
<ul>
	<li>biology</li>
	<li>chemistry</li>
	<li>computer studies</li>
	<li>design and technology</li>
	<li>English</li>
	<li>geography</li>
	<li>languages</li>
	<li>maths</li>
	<li>physics</li>
	<li>primary maths</li>
	<li>religious education</li>
</ul>
<p>The SKE directory sets out what courses are provided and will be updated once we have confirmed the approach to SKE courses for academic year 2020/21</p>
		
<p>
	If you’re concerned about your subject knowledge, discuss it with your potential training providers.
</p>
		
<h2 id="teaching-children-with-special-educational-needs-and-or-disabilities-SEND">
	Teaching children with special educational needs and/or disabilities (SEND)
</h2>
<p>
	Use <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses">Find
	postgraduate teacher training</a> to search for training courses that involve working with SEND children.
</p>
<p>
	Qualified SEND teachers are eligible for an extra payment, on top of their
	annual salary, of between £2,209 and £4,359 a year.
</p>
<h4>Teaching SEND pupils</h4>
<p>You don’t have to take a SEND specialist course. If you want to be a SEND teacher you can apply to teach in a special school if you have:</p>
<ul>
	<li>been teaching for a few years</li>
	<li>experience of managing SEND pupils in your primary or secondary school</li>
</ul>

<h4>Teaching children with sensory impairments</h4>
<p>If you want to teach pupils with hearing, vision or multi-sensory impairments, you’ll need a specific qualification. </p>
<h4>Be a Special Educational Needs Coordinator (SENCo)</h4>
<p>As a SENCo you’ll be responsible for assessing, planning and monitoring the progress of children with SEND. To apply for a job as a SENCo, you’ll need to:</p>
<ul>
	<li>be a qualified teacher</li>
	<li>complete the National Award in Special Educational Needs Coordination (NASENCO) when you take up the SENCO post</li>
</ul>

<h2 id="training-to-teach-if-you-have-a-disability">Training to teach if you have a disability</h2>
<p>Teachers with disabilities make valuable contributions both to classrooms and the culture of schools where they work.
</p>
<h4>Your rights</h4>
<p>
	It is against the law for teacher training providers to discriminate against teacher training candidates with disabilities. Under the Equality Act 2010, providers must make adjustments to help you do a course or go to an interview, providing your requests are reasonable. Examples of support could be:
</p>
<ul>
	<li>organising equipment like a hearing loop or an adapted keyboard</li>
	<li>putting you in touch with support staff if you have a mental health
		condition</li>
	<li>making sure classrooms are wheelchair accessible</li>
</ul>
<p>
	If the help you need is not covered by your provider making adjustments, you
	might also be able to get support from <a
		href="https://www.gov.uk/access-to-work">Access to Work</a>. This could include
	a grant to help cover the costs of practical support in the workplace.
</p>
<h4>Telling your training provider about your disability when you apply</h4>
  
  <p>It’s up to you if you want to tell your training
	provider about your disability. </p>
  <p>information you give about your
	disability is protected under the <a
		href="https://www.gov.uk/data-protection/the-data-protection-act">Data
  Protection Act 2018</a>.</p>
  <h4>Completing a fitness questionnaire</h4>
  <p>If you’re offered a place on a teacher
	training course, you may have to complete a fitness questionnaire before
	starting. Training providers should only ask relevant questions to make sure
  you’re able to teach.</p>
  <h4>Useful resources for disabled candidates</h4>

<p><a
	href="https://www.gov.uk/disabled-students-allowances-dsas">Get funding help if
	you're a student with a learning difficulty, health problem or
	disability</a>
</p>

<p><a href="http://www.equalityhumanrights.com/en">The Equality and
	Human Rights Commission (EHRC)</a> for information about discrimination on the
  grounds of disablity.</p>
<p><a href="http://www.abilitynet.org.uk/">AbilityNet</a> for advice on the use of
	computers and communication technology for disabled
  people.</p>
<p><a
		href="http://www.disabilityrightsuk.org/adjustments-disabled-students">Disability
	Rights UK</a> for advice on adjustments for disabled students while
	studying.
</p>		
		
		
<h2 id="High potential candidates, career changers and researchers">High potential candidates, career changers and researchers</h2>
		
		<h3 id="high-potential-itt">High Potential ITT</h3>
	  <p><a href="https://www.teachfirst.org.uk/">Teach First</a> is a charity which runs the government-funded High Potential Initial Teacher Training programme (ITT). You’ll need to have a 2:1 degree or higher to apply for a place on the programme, currently delivered by Teach First. You’ll train over 2 years by learning on the job, paid as an unqualified teacher and you will not pay tuition fees.</p> 
	  <p>You’ll be placed into a school straight away and gain QTS in your first year and complete your Newly Qualified Teacher placement in year 2. You’ll also receive leadership training, which includes a fully-funded Postgraduate Diploma in Education and Leadership (PGDE), worth double the credits of a PGCE.</p>


<h3 id="career-changers">Career Changers</h3>
<p>The Career Changers programme aims to attract high calibre graduates who have had a successful professional career with significant experience in their field into  teaching roles and schools where they are needed most.</p>
		<p>It provides help and guidance with the transition from a previous career into teaching.</p> <p> Career changers can add value to teaching with:</p>
<ul>
	<li>previous employment experience</li>
	<li>industry knowledge</li>
	<li>wider perspectives into teaching practice and school policies</li>
</ul>
</p>

<p><a href="https://nowteach.org.uk/">Now Teach (NT)</a> and <a href="https://www.transitiontoteach.co.uk/">Transition to Teach (TT)</a> are bespoke teacher recruitment and retention programmes developed exclusively to support career changers, providing transitional support and additional mentoring so that successful career changers can get the most out of their transition to teaching.</p>



<h3 id="researchers-in-schools">Researchers in schools (candidates with a doctorate)
</h3>
<p>Researchers in Schools (RIS), which includes the Maths and Physics Chairs programme, is a tailored, teacher training and professional development course for high-calibre candidates.</p>
<p>The programme is designed to run over 3 years, and offers both a salaried and bursary route into teacher training depending on your prior experiences and circumstances. </p>
<p>
	To <a href="https://researchersinschools.org/">apply to this teacher training
	programme</a>, you'll need (or be about to finish) a doctorate in one of the following subjects:
</p>
<ul>
	<li>physics</li>
	<li>mathematics</li>
	<li>chemistry</li>
	<li>biology</li>
	<li>engineering</li>
	<li>computing</li>
	<li>English</li>
	<li>history</li>
	<li>classics (Latin or Greek)</li>
	<li>modern foreign languages (French, German or Spanish)</li>
</ul>

<a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
  <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
    <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
  </svg>Back to top
</a>



	
<h2 id="get-a-job-in-teaching">
	Get a job in teaching
</h2>
<p>
	You can find teaching jobs by searching the Department for Education’s <a
		href="https://teaching-vacancies.service.gov.uk/">Teaching Vacancies</a>
	service.
</p>
<p>
	The service is used by 70% of state schools in England. Search by location,
	subject, job title and salary and set up job alerts.
</p>
<a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
  <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
    <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
  </svg>Back to top
</a>


<h2 id="contact-and-support">
	Contact and support
</h2>
<h3>
	Chat online
</h3>
<p>
	<span style="text-decoration:underline;"></span>Contact Get into
  Teaching’s live online chat service between 8.30am and 5pm, Monday to Friday.
</p>
	<h3>Speak on the phone</h3>

<p>
	Speak to a teacher training adviser by calling Freephone <span
		style="text-decoration:underline;">0800 389 2501 </span>between 8.30am and 5pm,
	Monday to Friday.
</p>

  <h3>Find an event near you</h3>
  <p>
  <a href="events"  target="_blank" rel="noopener noreferrer">Get Into Teaching’s nationwide
	  events</a> are informal opportunities for you to get free expert advice about your
	next steps into teaching.
</p>
<a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
  <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
    <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
  </svg>Back to top
</a>
<h2 id="further-support-and-information">Further support and information</h2>

<p>Send an email to:
<a href="mailto:getintoteaching.helpdesk@education.gov.uk" class="govuk-link">getintoteaching.helpdesk@education.gov.uk</a>
 or call Freephone 0800 389 2501.</p>

</div>
</div>


  <div class="responsive-bottom-margin">
        <div class="app-c-published-dates " lang="en">
    Published 2 October 2020
</div>

  </div>

  <div data-sticky-element="" class="app-c-contents-list-with-body__link-wrapper govuk-sticky-element--stuck-to-window">
        <div class="app-c-contents-list-with-body__link-container">
          <a class="govuk-link app-c-back-to-top dont-print" href="#top">
            <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
              <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
            </svg>
            Back to top
          </a>

        </div>
      </div>
  </div>
  </div>
  
  <div class="govuk-grid-column-one-third">
    
  <div class="gem-c-contextual-sidebar">

   <div class="gem-c-related-navigation">
          <h2 id="related-nav-related_items-8be55305" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
            Related content
          </h2>
          <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-8be55305" data-module="gem-toggle">
            <ul class="gem-c-related-navigation__link-list" data-module="track-click">
                <li class="gem-c-related-navigation__link">
                    <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" 
                    href="https://www.gov.uk/government/publications/initial-teacher-training-criteria/initial-teacher-training-itt-criteria-and-supporting-advice">Initial teacher training (ITT): criteria and supporting advice</a>
                </li>
                <li class="gem-c-related-navigation__link">
                    <a 
                    href="https://www.gov.uk/find-postgraduate-teacher-training-courses">Find postgraduate teacher training courses</a>
                </li>
                <li class="gem-c-related-navigation__link">
                    <a href="https://qa.apply-for-teacher-training.service.gov.uk/candidate">Apply for teacher training in England</a>
                </li>

   <li class="gem-c-related-navigation__link">
                    <a href="https://www.gov.uk/teacher-training-funding">Teacher training funding</a>
                </li>
                <li class="gem-c-related-navigation__link">
                    <a href="https://www.gov.uk/guidance/early-years-initial-teacher-training-2020-to-2021-funding-guidance">Early years initial teacher training: 2020 to 2021 funding guidance</a>
                </li>
                <li class="gem-c-related-navigation__link">
                    <a href="https://www.gov.uk/guidance/qualified-teacher-status-qts">Qualified teacher status (QTS): qualify to teach in England</a>
                </li>
            </ul>
          </nav>
      </div>
    </div>

  </div>

</div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
  <div class="gem-c-contextual-footer">
    
  <div class="gem-c-related-navigation">

   <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-c4b327cd" data-module="gem-toggle">

  <h2 id="related-nav-topics-c4b327cd" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</h2>

  <ul class="gem-c-related-navigation__link-list" data-module="track-click">


   <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="https://beta-getintoteaching.education.gov.uk">Get Into Teaching</a></li>

  </ul>
</nav>

  </div>

  </div>


  </div>
  </div>


   </main>
    
<div class="gem-c-feedback" data-module="feedback">
  
<div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
  <div class="gem-c-feedback__prompt-questions js-prompt-questions">
    <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>
    <!-- Maybe button exists only to try and capture clicks by bots -->
    <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="https://www.gov.uk/contact/govuk">
        Maybe
</a>    <ul class="gem-c-feedback__option-list">
      <li class="gem-c-feedback__option-list-item">
        <a class="gem-c-feedback__prompt-link js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="https://www.gov.uk/contact/govuk">
          Yes <span class="govuk-visually-hidden">this page is useful</span>
</a>      </li>
      <li class="gem-c-feedback__option-list-item">
        <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="https://www.gov.uk/contact/govuk">
          No <span class="govuk-visually-hidden">this page is not useful</span>
</a>      </li>
    </ul>
  </div>
  <div class="gem-c-feedback__prompt-questions gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
    Thank you for your feedback
  </div>
  <div class="gem-c-feedback__prompt-questions gem-c-feedback__prompt-questions--something-is-wrong js-prompt-questions">
    <a class="gem-c-feedback__prompt-link js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="https://www.gov.uk/contact/govuk">
      Is there anything wrong with this page?
</a>  </div>
</div>

  <form action="https://www.gov.uk/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post" aria-hidden="true">
  <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

  <input type="hidden" name="url" value="https://www.gov.uk/guidance/employing-an-apprentice-technical-guide-for-employers">

  <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
      <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>

      
<div class="govuk-form-group">
    
  <label for="input-f8a6fd2a" class="gem-c-label govuk-label">What were you doing?</label>






  <input name="what_doing" class="gem-c-input govuk-input" id="input-f8a6fd2a" type="text" aria-describedby="feedback_explanation">
</div>

      
<div class="govuk-form-group">
    
  <label for="input-bb2ef2df" class="gem-c-label govuk-label">What went wrong?</label>






   <input name="what_wrong" class="gem-c-input govuk-input" id="input-bb2ef2df" type="text">
</div>

      


  <button class="gem-c-button govuk-button" type="submit">Send</button>


   </div>
  </div>
<input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="unknown"></form>

  <form action="https://www.gov.uk/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post" aria-hidden="true">
  <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" id="survey-wrapper">
      <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

   <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
      <input name="email_survey_signup[survey_source]" type="hidden" value="/guidance/employing-an-apprentice-technical-guide-for-employers">

   <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
      <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>

      
<div class="govuk-form-group">
    
  <label for="input-9c3543c1" class="gem-c-label govuk-label">Email address</label>






  <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-9c3543c1" type="email" autocomplete="email" aria-describedby="survey_explanation">
</div>

      


  <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


    </div>
  </div>
</form>

</div>

  </div>


   <footer class="group js-footer" id="footer" role="contentinfo">
      <div class="govuk-width-container">
        <div class="footer-container govuk-main-wrapper">
              <div class="govuk-grid-row footer-categories" data-module="track-click">
      <div class="govuk-grid-column-two-thirds">
        <h2>Coronavirus (COVID-19)</h2>
        <ul>
          <li>
            <a data-track-category="footerClicked" data-track-action="coronavirusLinks" data-track-label="Coronavirus (COVID-19): guidance and support" href="https://www.gov.uk/coronavirus" class="govuk-link">
               Coronavirus (COVID-19): guidance and support
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h2>The UK has left the EU</h2>
        <ul>
          <li>
            <a data-track-category="footerClicked" data-track-action="transitionLinks" data-track-label="Transition period: get ready for 2021" href="https://www.gov.uk/transition" class="govuk-link">
               Transition period: get ready for 2021
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="govuk-grid-row footer-categories" data-module="track-click">
      <div class="govuk-grid-column-two-thirds">
        <h2>Services and information</h2>

   <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <ul>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Benefits" href="https://www.gov.uk/browse/benefits">
                  Benefits
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Births, deaths, marriages and care" href="https://www.gov.uk/browse/births-deaths-marriages">
                  Births, deaths, marriages and care
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Business and self-employed" href="https://www.gov.uk/browse/business">
                  Business and self-employed
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="" href="https://www.gov.uk/browse/childcare-parenting">
                  Childcare and parenting
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Citizenship and living in the UK" href="https://www.gov.uk/browse/citizenship">
                  Citizenship and living in the UK
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Crime, justice and the law" href="https://www.gov.uk/browse/justice">
                  Crime, justice and the law
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Disabled people" href="https://www.gov.uk/browse/disabilities">
                  Disabled people
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Driving and transport" href="https://www.gov.uk/browse/driving">
                  Driving and transport
                </a>
              </li>
            </ul>
          </div>
          <div class="govuk-grid-column-one-half">
            <ul>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Education and learning" href="https://www.gov.uk/browse/education">
                  Education and learning
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Employing people" href="https://www.gov.uk/browse/employing-people">
                  Employing people
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Environment and countryside" href="https://www.gov.uk/browse/environment-countryside">
                  Environment and countryside
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Housing and local services" href="https://www.gov.uk/browse/housing-local-services">
                  Housing and local services
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Money and tax" href="https://www.gov.uk/browse/tax">
                  Money and tax
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Passports, travel and living abroad" href="https://www.gov.uk/browse/abroad">
                  Passports, travel and living abroad
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Visas and immigration" href="https://www.gov.uk/browse/visas-immigration">
                  Visas and immigration
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Working, jobs and pensions" href="https://www.gov.uk/browse/working">
                  Working, jobs and pensions
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

   <div class="govuk-grid-column-one-third">
        <h2>Departments and policy</h2>

   <ul>
          <li>
            <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="How government works" href="https://www.gov.uk/government/how-government-works">
              How government works
            </a>
          </li>
          <li>
            <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Departments" href="https://www.gov.uk/government/organisations">
              Departments
            </a>
          </li>
          <li>
            <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Worldwide" href="https://www.gov.uk/world">
              Worldwide
            </a>
          </li>
          <li>
            <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Services" href="https://www.gov.uk/search/services">
              Services
            </a>
          </li>
          <li>
            <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Guidance and regulation" href="https://www.gov.uk/search/guidance-and-regulation">
              Guidance and regulation
            </a>
          </li>
          <li>
            <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="News and communications" href="https://www.gov.uk/search/news-and-communications">
              News and communications
            </a>
          </li>
          <li>
            <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Research and statistics" href="https://www.gov.uk/search/research-and-statistics">
              Research and statistics
            </a>
          </li>
          <li>
            <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Policy papers and consultations" href="https://www.gov.uk/search/policy-papers-and-consultations">
              Policy papers and consultations
            </a>
          </li>
          <li>
            <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Transparency and freedom of information releases" href="https://www.gov.uk/search/transparency-and-freedom-of-information-releases">
              Transparency and freedom of information releases
            </a>
          </li>
        </ul>
      </div>
      <hr>
    </div>


   <div class="footer-meta">
            <div class="footer-meta-inner">
                <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a class="govuk-link" href="https://www.gov.uk/help">Help</a></li>
  <li><a class="govuk-link" href="https://www.gov.uk/help/privacy-notice">Privacy</a></li>
  <li><a class="govuk-link" href="https://www.gov.uk/help/cookies">Cookies</a></li>
  <li><a class="govuk-link" href="https://www.gov.uk/contact">Contact</a></li>
  <li><a class="govuk-link" href="https://www.gov.uk/help/accessibility-statement">Accessibility statement</a></li>
  <li><a class="govuk-link" href="https://www.gov.uk/help/terms-conditions">Terms and conditions</a></li>
  <li><a class="govuk-link" href="https://www.gov.uk/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>
    Built by the
    <a href="https://www.gov.uk/government/organisations/government-digital-service" class="govuk-link">
      Government Digital Service
    </a>
  </li>
</ul>



   <div class="open-government-licence">
                <p class="logo">
                  <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license" class="govuk-link open-government-licence__logo-link">
                    Open Government Licence
                  </a>
                </p>
                  <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license" class="govuk-link">Open Government Licence v3.0</a>, except where otherwise stated</p>
              </div>
            </div>

   <div class="copyright">
              <a class="govuk-link" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">
                 © Crown copyright
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>

  <div id="global-app-error" class="app-error hidden"></div>


  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  
  <script src="https://www.gov.uk/assets/static/header-footer-only-b40a2139e794b00c053ad6f4ade31cedd5e091d679a259f0042664549a66d3bb.js"></script>

  <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://www.gov.uk/assets/government-frontend/application-e6e189e655c0c3d1835298a128f8f68fa8b56785858230797bba7b8c5acfdfbf.js"></script>


</body>
</html>
