<p>
  To start primary or secondary initial teacher training, you’ll need to have a degree or equivalent
  qualification.
</p>

<p>You’ll also need:</p>

<ul>
  <li>English GCSE grade 4 (C) or above</li>
  <li>Maths GCSE grade 4 (C) or above</li>
  <li>Science GCSE grade 4 (C) or above if you want to teach in primary education</li>
</ul>

<p>
  <a href="/guidance/become-a-teacher-in-england#if-you-do-not-have-a-degree">Find out what to do if you do not have a degree</a>.
</p>

<p>
  If you’re interested in teaching in another area, take a look at our guidance on:
</p>

<ul>
  <li><a href="/further-education-teacher-training">becoming a further education teacher</a></li>
  <li><a href="/early-years-teaching-training">becoming an early years teacher</a></li>
</ul>

<details>
  <summary>Read more<span class="visually-hidden">about teaching and training</span></summary>

  <section data-controller="talk-to-us">
    <p>
      If you do not have the required GCSEs or you have overseas
      qualifications, you’ll need to show that you have an equivalent level of
      education.
    </p>

    <p>
      If you're already qualified to teach, see our guidance on
      <a href="/returning-to-teaching">returning to teach in England</a>.
    </p>

    <a href="#" data-action="click->talk-to-us#startChat" class="button button--smaller" data-turbolinks="false">
      Chat to us online to find out more
    </a>
  </section>
</details>
