<p>To start initial teacher training, you’ll need to have a degree, or equivalent qualification. If you do not have a degree - you can do an <a href="/ways-to-train">undergraduate course</a>.</p>

<p>You’ll also need:</p>

<details>
  <summary>Read more<span class="visually-hidden">about teaching and training</span></summary>

  <section data-controller="talk-to-us">
    <ul>
      <li>English GCSE grade 4 (C) or above</li>
      <li>Maths GCSE grade 4 (C) or above</li>
      <li>Science GCSE grade 4 (C) or above if you want to teach in primary education</li>
    </ul>

    <p>If you do not have the required GCSEs or you have overseas qualifications, you’ll need to show that you have an equivalent level of education.</p>

    <p>Here’s what you need to do if you:</p>

    <ul>
      <li><a href="/guidance/become-a-teacher-in-england#if-you-do-not-have-a-degree" data-turbolinks="false">do not have a degree</a></li>
      <li><a href="/international-candidates">have an overseas degree</a></li>
      <li><a href="/returning-to-teaching">are returning to teach in England</a></li>
    </ul>

    <a href="#" data-action="click->talk-to-us#startChat" class="button button--smaller" data-turbolinks="false">
      Chat to us online to find out more
    </a>
  </section>
</details>
