<p>
  Before you commit to a teacher training course, you might want to spend some
  time in a school. This can give you valuable first-hand experience of what
  teaching might be like, and what’s involved during a teacher’s day. It may also
  give you a chance to see a range of lessons and age groups being taught.
</p>

<details>
  <summary>Read more<span class="visually-hidden">about school experience</span></summary>

  <p>
    You can approach schools and teachers yourself or search for school experience
    in your area using our service.
  </p>

  <p>
  If you are a current undergraduate and want to teach in a STEM subject, you may also be eligible for a <a href='/teaching-internship-providers'>Teaching Internship</a>,
  this provides a paid opportunity to experience mathematics or physics teaching before they commit to it as a career. 
  </p>
  
  <a href="https://schoolexperience.education.gov.uk/" class="button button--smaller button--no-external-icon">
    Search for school experience
  </a>
</details>
