
<p>When you’ve decided the best route for you and what you want to teach, search for a course using the Find postgraduate teacher training service. You can search by: location, provider, subject, study type, and qualification.</p>


<details>
  <summary>Read more<span class="visually-hidden">about teaching and training</span></summary>

  <section>
    <p>Once you have an idea of the courses available, you can do more research about the individual providers. You can look at their websites, attend one of their events, or look at Ofsted inspection reports for schools. There is also guidance if you <a href="/guidance/become-a-teacher-in-england#subject-knowledge-enhancement-courses" data-turbolinks="false">want to teach a subject that you didn’t study at degree level</a>.</p>

<p>To apply for a course, you will need:</p>

<ul>
  <li>a written personal statement</li>
  <li>2 references</li>
  <li>GCSE (or equivalent) and Degree certificates</li>
</ul>

<p>For support finding and applying for a course, you can <a href="/tta-service">get support from an adviser</a>. They can help to select the best provider for you, and assist you with your application.</p>

  </section>
</details>
