<p>If you already have a degree you’re ready for postgraduate teacher training.</p>

<p>For postgraduate primary or secondary teacher training you need the following or equivalents:</p>

<ul>
  <li>English GCSE grade 4 (C) or above</li>
  <li>maths GCSE grade 4 (C) or above</li>
</ul>

<p>You also need a science GCSE grade 4 (C) or above to teach primary.</p>

<p>If you do not have a degree, you can do <a href="/ways-to-train">undergraduate teacher training</a>.</p>

<p>Find out what to do <a href="/international-candidates">if you’re an international candidate with qualifications from overseas</a>.</p>

<p>
  <a href="https://gov.klick2contact.com/v03/providers/DfE/window/windowChat.html?t=DfE-ea2112b87a70503c96e1db1d61268106&p=DfE&pid=82&d=971&n=&e=&c=&tel=&ch=CH&iid=STC&psk=chat_a2&m=3&fcl=0&r=Static&srbp=&iif=&l=en&auto=&ud=&u=https%3A%2F%2Fgetintoteaching.education.gov.uk%2F&wo=&uh=2021-4-26%2012%3A18/https%3A%2F%2Fgetintoteaching.education.gov.uk%2F&wait=00:22" class="button button--smaller">
    Chat online for qualifcations advice
  </a>
</p>
