<div class="featured-content__item">
    <div class="featured-content__image" style="background-image: url('/assets/images/home-steps.jpg')"></div>
    <div class="featured-content__content">
        <h3>Apply for teacher training.</h3>
        <span>Applications to teacher training courses starting in autumn 2021 are open now.</span>
        <a class="featured-content__link" href="/steps-to-become-a-teacher">
          Steps to become a <span>teacher</span>
        </a>
    </div>
</div>
