<div class="featured-content__item">
    <a href="https://www.youtube.com/watch?v=riY-1DUkLVk" target="_blank" data-action="click->video#play" data-video-target="link">
        <div class="featured-content__image" style="background-image: url('/assets/images/home-karen.jpg')">
            <div class="more-stories__thumbs__thumb__play">
                <div class="icon-play"></div>
            </div>
        </div>
    </a>
    <div class="featured-content__content">
        <h3>Swapping senior management for students.</h3>
        <span> I was a director of a large market research agency, but I had always always harboured a long-term ambition to teach.</span>
        <a class="featured-content__link" href="/life-as-a-teacher/my-story-into-teaching/career-changers/swapping-senior-management-for-students">
          Read Karen’s <span>story</span>
        </a>
    </div>
</div>
