<div class="featured-content__item">
    <span class="featured-content__title">Why sign up for a Teacher Training Adviser?</span>
     <a href="https://www.youtube.com/watch?v=vvY7m2YD0Vs" target="_blank" data-action="click->video#play" data-target="video.link">
        <div class="featured-content__image" style="background-image: url('assets/images/home-tta.jpg')">
            <div class="more-stories__thumbs__thumb__play">
                <div class="icon-play"></div>
            </div>
        </div>
    </a>
    <div class="featured-content__content">
        <span>Our dedicated, experienced teaching professionals can help you prepare a strong teacher training application.</span>
        <a class="featured-content__link" href="https://beta-adviser-getintoteaching.education.gov.uk/">Get help with your application</a>
    </div>
</div>
