<div class="featured-content__item">
     <a href="https://www.youtube.com/watch?v=vvY7m2YD0Vs" target="_blank" data-action="click->video#play" data-target="video.link">
        <div class="featured-content__image" style="background-image: url('/assets/images/home-tta.jpg')">
            <div class="more-stories__thumbs__thumb__play">
                <div class="icon-play"></div>
            </div>
        </div>
    </a>
    <div class="featured-content__content">
        <h3>Why sign up for a Teacher Training Adviser?</h3>
        <span>Our dedicated, experienced teaching professionals can help you prepare a strong teacher training application.</span>
        <a class="featured-content__link" href="/tta-service">
          Get help with your <span>application</span>
        </a>
    </div>
</div>
