<a class="cta-link" href="/teaching-as-a-career">
    <div class="cta-link__img" style="background-image: url(assets/images/piclink1.jpg)">
      <div class="cta-link__label">
        <span>Teaching as a career</span>
      </div>
    </div>
</a>
