<a class="cta-link" href="/life-as-a-teacher">
    <div class="cta-link__img" style="background-image: url(assets/images/piclink1.png)">
        <span class="cta-link__label">Teaching as a career</span>
    </div>
</a>
