<%= render Content::FeatureTableComponent.new(
  {
    "Available for" => "Primary, secondary, further education",
    "Qualification" => "QTS",
  }, 
  "Assessment only"
) %>

<p>If you’re an experienced teacher with a degree, you can gain QTS without doing a teacher training programme. You’ll need to present detailed evidence that you meet the standards for QTS.</p>

<p>A number of universities, colleges, schools and SCITTs around the country offer AO. Their criteria for entry may vary, and you will need to apply to them directly.</p>

<p>For more information about Assessment Only options, <a href="/tta-service">get an Adviser</a>.
