<%= render Content::FeatureTableComponent.new(
  {
    "Cost"                => "Up to £9250",
    "Salary"              => "No",
    "Funding available"   => "Yes",
    "Length of training"  => "1 academic year",
    "Available for"       => "Primary, secondary, further education",
    "Qualification"       => "PGCE and QTS",
  }, 
  "Postgraduate Certificate in Education (PGCE)"
) %>

<p>PGCE programmes combine academic study with a minimum of 24 weeks on school placements.</p>

<p>You do not need a PGCE qualification to teach in England, but it may be useful if you want to teach in another country.</p>

<p class="call-to-action__action">
  <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses">Find a PGCE <span>course</span></a>
</p>
