<%= render Content::FeatureTableComponent.new(
  {
    "Cost"                => "You don’t pay tuition fees",
    "Salary"              => "Yes",
    "Funding available"   => "No",
    "Length of training"  => "1 academic year",
    "Available for"       => "Primary, secondary",
    "Qualification"       => "QTS",
  }, 
  "TODO", 
  "Postgraduate Teaching Apprenticeship"
) %>

<p>You’ll be employed by a school and learn while you’re working. You’ll split your time between school and university study, with at least 20% of your time studying.</p>

<p class="call-to-action__action">
  <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses">Find a Postgraduate Teaching <span>Apprenticeship</span></a>
</p>