<%= render Content::FeatureTableComponent.new(
  {
    "Cost"                => "£9,000",
    "Salary"              => "No",
    "Funding available"   => "Yes",
    "Length of training"  => "1 academic year",
    "Available for"       => "Primary, secondary",
    "Qualification"       => "QTS, PGCE dependent on the course",
  }, 
  "School Direct (fee-funded)"
) %>

<p>School Direct (fee-funded) programmes mean you’ll learn on the job while you work towards your Qualified Teacher Status (QTS). You’ll be based in a school, but you won’t be employed by them. You’ll learn on the job and be taught by the university, college, or school-centred initial teacher training (SCITT) provider that the school partners with.</p>

<p>Most School Direct programmes lead to a PGCE, but not all do — check with the training provider before applying.</p>

<p class="call-to-action__action">
  <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses">Find a School Direct <span>course</span></a>
</p>