<%= render Content::FeatureTableComponent.new(
  {
    "Cost"                => "£9,000",
    "Salary"              => "No",
    "Funding available"   => "Yes",
    "Length of training"  => "1 academic year",
    "Available for"       => "Primary, secondary",
    "Qualification"       => "QTS, PGCE dependent on the course",
  }, 
  "School Direct (salaried)"
) %>

<p>On a School Direct (salaried) programme, you’ll be employed by a school as an unqualified teacher while you work towards your Qualified Teacher Status (QTS). You’ll earn a salary and don’t need to pay any tuition fees. This route typically requires three years of transferable work history.</p>

<p>Most School Direct programmes lead to a PGCE, but not all do — check with the training provider before applying.</p>

<p class="call-to-action__action">
  <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses">Find a School Direct <span>course</span></a>
</p>