<%= render Content::FeatureTableComponent.new(
  {
    "Cost"                => "You don’t pay tuition fees",
    "Salary"              => "Yes",
    "Funding available"   => "No",
    "Length of training"  => "2 years",
    "Available for"       => "Primary, secondary",
    "Qualification"       => "PGCE with QTS",
  }, 
  "Teach First"
) %>

<p>The Teach First Leadership Development Programme is a two-year salaried programme. It combines leadership development with teacher training, and focuses on training exceptional teachers to teach in challenging schools.</p>

<p>You’ll learn on the job while you work towards Qualified Teacher Status (QTS) and a Postgraduate Diploma in Education (PGDE). A PGDE is similar to a PGCE, but contains up to 120 credits at master’s degree level.</p>

<p class="call-to-action__action">
  <a href="https://www.teachfirst.org.uk/">Find a Teach First <span>course</span></a>
</p>
