<div class="content-cta">
  <h2>Do you want to return to teaching?</h2>
  <p>Find out what's new and how to apply.</p>
  <a href="/returning-to-teaching" class="call-to-action-button">Returning to <span>teaching</span></a>
</div>
