<figure>
  <blockquote>
    <p>I like to get in early so I can get organised — in teaching, preparation is everything.</p>
  </blockquote>
  <figcaption>
    <cite>Sarah, primary school teacher</cite>
  </figcaption>
</figure>
