<div class="colored-stripe colored-stripe--yellow">
  <div class="home-quote-img" style="background-image: url('assets/images/home-quote.jpg')"></div>
  <section class="container">
    <article class="markdown overhang fullwidth">
      <div class="colored-stripe__content">
        <div class="home-quote__text">
          <blockquote class="home-quote__quote">I like to get in early so I can get organised — in teaching, preparation is everything.</blockquote>
         <span class="home-quote__citation">Sarah, primary school teacher</span>
        </div>
      </div>
    </article>
  </section>
</div>
