<figure class="right">
  <blockquote>
    <p>I have four free periods a week, which I use as my own time</p>
  </blockquote>
  <figcaption>
    <cite>Sarah, geography teacher</cite>
  </figcaption>
</figure>
