<div class="colored-stripe colored-stripe--yellow">
  <div class="home-quote-img" style="background-image: url('assets/images/home-quote.jpg')"></div>
  <section class="container">
    <article class="markdown overhang fullwidth">
      <div class="colored-stripe__content">
        <div class="home-quote__text">
          <blockquote class="home-quote__quote">
          I sometimes do a couple of hours at the weekend but I try to keep my weekends free to make sure I have some real downtime.</blockquote>
         <span class="home-quote__citation">Sarah, geography teacher</span>
        </div>
      </div>
    </article>
  </section>
</div>
