<figure>
  <blockquote>
    <p>I sometimes do a couple of hours at the weekend but I try to keep my weekends free to make sure I have some real downtime.</p>
  </blockquote>
  <figcaption>
    <cite>Sarah, geography teacher</cite>
  </figcaption>
</figure>
