<figure>
  <blockquote>
    <p>
      Teaching and learning does not stop with the bell at the end of the school day.
    </p>
  </blockquote>
  <figcaption>
    <cite>Gavin, assistant headteacher</cite>
  </figcaption>
</figure>
