---  
name: Release to Production
on: 
   workflow_dispatch:
     inputs:
       tags:
         description: 'Release Tag'
         required: true

env:
  DOCKERHUB_REPOSITORY: dfedigital/get-into-teaching-frontend

jobs:
  deploy_qa:
    name: 'Deploy to Production'
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
       - name: Check Tag is a Release
         run: |
               rval=$(curl -s -X GET https://api.github.com/repos/DFE-Digital/get-into-teaching-content/releases/tags/${{ github.event.inputs.tags }} | jq -r ".message")
               if [ "${rval}" = "Not Found" ]
               then
                   echo "Tag ${{ github.event.inputs.tags }} cannot be found in releases"
                   exit 1
               fi
               exit 0

       - name: Checkout
         uses: actions/checkout@v2
         with:
            ref: "${{ github.event.inputs.tags }}"

       - name: Get Short SHA
         id: sha
         run: echo ::set-output name=short::$(git rev-parse --short HEAD )

       - name: Set new docker image version
         run: |
           docker_image_tag="sha-${{ steps.sha.outputs.short }}"
           echo ::set-env name=docker_image_tag::${docker_image_tag}
           echo "Content SHA: ${{ steps.sha.outputs.short }}"
           echo "New version tag: ${docker_image_tag}"

       - name: Wait for any previous runs to complete
         uses: softprops/turnstyle@v1
         env:
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         with:
           continue-after-seconds: 180

       - uses: hashicorp/setup-terraform@v1
         with:
           terraform_version: 0.13.4

       - name: Terraform Init
         run: |
             cd terraform/paas && pwd
             terraform init -backend-config=production.bk.vars
         env:
             TF_VAR_user:              "${{ secrets.GOVUKPAAS_USERNAME  }}"
             TF_VAR_password:          "${{ secrets.GOVUKPAAS_PASSWORD  }}"
             ARM_ACCESS_KEY:           "${{ secrets.PROD_ARM_ACCESS_KEY  }}"

       - name: Terraform Plan
         run: |
             cd terraform/paas && pwd
             terraform plan -var-file=production.env.tfvars -out plan
         env:
             TF_VAR_paas_app_docker_image: ${{env.DOCKERHUB_REPOSITORY}}:${{ env.docker_image_tag }}
             TF_VAR_user:              "${{ secrets.GOVUKPAAS_USERNAME  }}"
             TF_VAR_password:          "${{ secrets.GOVUKPAAS_PASSWORD  }}"
             ARM_ACCESS_KEY:           "${{ secrets.PROD_ARM_ACCESS_KEY  }}"
             TF_VAR_HTTPAUTH_PASSWORD: ""
             TF_VAR_HTTPAUTH_USERNAME: ""
             TF_VAR_RAILS_MASTER_KEY:  "${{ secrets.RAILS_MASTER_KEY_PRODUCTION }}"
             TF_VAR_RAILS_ENV:         "production"

       - name: Terraform Apply
         run: |
             cd terraform/paas && pwd
             terraform apply -auto-approve plan
         env:
             TF_VAR_user:              "${{ secrets.GOVUKPAAS_USERNAME  }}"
             TF_VAR_password:          "${{ secrets.GOVUKPAAS_PASSWORD  }}"
             ARM_ACCESS_KEY:           "${{ secrets.PROD_ARM_ACCESS_KEY  }}"

       - name: Smoke tests
         run: |
             tests/confidence/healthcheck.sh  "get-into-teaching-app-prod" "${{ steps.sha.outputs.short }}"
         env:
             HTTPAUTH_PASSWORD: ""
             HTTPAUTH_USERNAME: ""

       - name: Create Sentry release
         if: success()
         uses: getsentry/action-release@v1.1.1
         env:
           SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
           SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
           SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
         with:
           environment: production

       - name: Slack Notification
         if: failure()
         uses: rtCamp/action-slack-notify@master
         env:
           SLACK_CHANNEL: getintoteaching_tech
           SLACK_COLOR: '#3278BD'
           SLACK_ICON: https://github.com/rtCamp.png?size=48
           SLACK_MESSAGE: 'Pipeline Failure carrying out job ${{github.job}}'
           SLACK_TITLE: 'Failure: ${{ github.workflow }}'
           SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
               
